.circle {
  height: 2rem;
  width: 2rem;
  background-color: blue;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 0.5rem;
}
nav {
  position: relative;
  display: flex;
  justify-content: center;
  height: 2rem;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem;
}
h3 {
  margin: 0;
}
